.main{
   
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_heading{
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0px;
    color: var(--dark-black);
    text-transform: capitalize;
    margin: 1rem auto;
}

.company_logo_section{
    margin-top: 6rem;
    margin-bottom: 2rem;
}