.card{
    padding: .7rem;
    width: 23%;
    background-color: var(--white-color);
    border-radius: 5px;
    margin-right: 1rem;

}
.card h3{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--dark-black);
}
.card p{
    letter-spacing: 0px;
    color: var(--dark-black);
    font-size: .8rem;
    line-height: .9rem;
}
.card_Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .7rem;
    color: var(--dark-black);
    padding-top: 1rem;

}
.location{
         padding: 0.4rem 0rem;
         font-size: 14px;

}
.location_icon{
    padding: 0.4rem 0rem;
    font-size: 14px;
    margin: 0px auto ;
    color: var(--light-blue);
    margin: inherit;
}
.view_application{
    padding: 0.4rem .6rem;
    background-: #43AFFF33;
    border-radius: 5px;
    font-size: 12px;
    color: #303F60;
    text-transform: capitalize;
    cursor: pointer;
}