.applicant_card {
    background: var(--white);
    color: var(--deep-dark-blue);
    border: 1px solid #303f6080;
    border-radius: 5px;

    width: 16rem;
    margin: 0.6rem auto;
    padding: 1rem;
  }

.applicant_profile{
    display: flex;
    align-items: center;
  
}


.avatar {
  width: 3rem;
  height: 3rem;
  background-color: #d9efff;
  border-radius: 50%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
}
.details {
  margin-left: 1rem;
}
.name {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0.2rem auto;
  text-transform: capitalize;
}
.email {
  font-size: 0.875rem;
  margin: 0.2rem auto;
}
.title {
  font-weight: 00;
  font-size: 0.875rem;
  margin: 5px auto;
}
.skill {
  font-size: 0.875rem;
  margin: 5px auto;
}
