.login{
    height: 50%;
    width: 40%;
    margin:  0 auto;
    padding: 1.2rem;
    background-color: var(--white-color);
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
    transform: translateY(-50%);
}

.inputContainer{
    margin: .3rem  0;
}
.inputContainer input, textarea{
    width: 100%;
    border: 1px solid  var(--gray-outline);
    border-radius: 5px;
    resize: vertical;
    padding: .5rem;
}
.inputContainer label{
    font-size: 1rem;
    color: var(--dark-black);
    margin: .5rem 0 ;

}
.LoginTitle{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark-black);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.link_text{
    color: var(--light-blue);
}

input:focus, textarea:focus{
    /* outline: */
    outline: none !important;
    border:1px solid  var(--light-blue);;
}

.para{
    font-size: 14px;
    line-height: 1rem;
}
.error{
    /* float: right; */
    text-align: end;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--primary-red);
}