
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;

}


body{
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #EDF6FF;
}
